.venv
venv
.vscode
dataset
via-2.0.12
src/__pycache__
*.pth
models/zipped
models/baselines/alexnet/log/
models/baselines/densenet/log/
models/baselines/efficientnet/log/
models/baselines/resnet/log/
models/baselines/vgg16/log/
models/baselines_finetuned/alexnet/log/
models/baselines_finetuned/densenet/log/
models/baselines_finetuned/efficientnet/log/
models/baselines_finetuned/resnet/log/
models/baselines_finetuned/vgg16/log/
